body{
    background: linear-gradient(135deg, #ffb6c1, #ffc0cb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

}

.Calculator{
    background: #fff0f5;
    padding: 25px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(255, 105, 180, 0.3);

}

#display {
    width: 100%;
    height: 60px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: #ffe4ec;
    color: #c71585;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background: #ff69b4;
    color: white;
    transition: all 0.2s ease;
}

button:hover {
    background: #ff1493;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 20, 147, 0.4);
}

.equal {
    background: #db7093;
    grid-row: span 2;
}

.equal:hover {
    background: #c71585;
}


.zero {
    grid-column: span 2;
}

/* MEDIA QUERY */
@media (max-width: 480px) {

    .calculator {
        width: 90%;
        padding: 20px;
    }

    #display {
        font-size: 18px;
        height: 50px;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }
}